# Dependencies
/node_modules/
**/node_modules/

# Build artifacts
/dist/
**/dist/
function.zip
/.sst/
/.turbo/
/.tmp/
**/.tmp/
**/.vite/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Coverage
/coverage/
